<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Type*</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>type</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Distance*</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>distance</string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Time*</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>hr.</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellTimeComp</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>min.</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellTimeComp</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>sec.</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellTimeComp</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Date</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellDatePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Location</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Location</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellTextField</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Notes</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Notes</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellBigTextView</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
